.sidenav {
    width: 125px;
    left: 8px;
    position: fixed;
    overflow-x: hidden;
    padding: 8px 0px;
    /* background: black; */
    /* z-index: 1; */
}

.sidenav a {
    display: block;
    width: 100%;
    text-align: center;
    color: black;

    padding: 8px 0;
}

.sidenav a:hover {
    color: rgb(92, 92, 92);
}

.main {
    margin-left: 133px; /* Same width as the sidebar + left position in px */
    padding: 0px 16px;
}

.lable {
    padding-top: 15px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}

.lable h5 {
    margin-left: 8px;
    margin-right: auto;
    color: black;
}