#legend_1,
#legend_2 {
	height: 50px;
	text-align: center;
}

#legend_1 span,
#legend_2 span {
	display: inline-block;
	padding: 15px 15px;
}

#legend_1 span:after,
#legend_2 span:after {
	padding-left: 4px;
	content: '■';
}

.margin-bottom-5rem {
	margin-bottom: 5rem;
}

.project-list,
.activity-list,
.chart-1,
.chart-2 {
	margin-bottom: 1.2rem;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0;
}
