#legend_1,
#legend_2 {
	max-height: 50px;
	text-align: center;
}

#legend_1 span,
#legend_2 span {
	display: inline-block;
	padding: 10px;
}

#legend_1 span:after,
#legend_2 span:after {
	padding-left: 4px;
	content: '■';
}

.margin-bottom-5rem {
	margin-bottom: 5rem;
}

.project-list,
.activity-list,
.chart-1,
.chart-2 {
	margin-bottom: 1.2rem;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0;
}

footer .copyright-container a {
	color: rgba(255, 255, 255, .5);
	text-decoration: none;
}
footer .copyright-container a:focus,
footer .copyright-container a:hover {
	color: rgba(255, 255, 255, .75);
	text-decoration: none;
}
